.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white; /* Set background to white */
    text-align: center;
  }
  
  .success-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .check-icon {
    display: inline-flexbox;
  justify-content: center;
  align-items: center;
  padding: 15px; /* Add padding to create space for the circle */
  border: 5px solid green; /* Add a green border */
  border-radius: 50%; /* Make it a circle */
    color: green;
    font-size: 100px;
    margin-bottom: 20px;
  }
  
  .success-content h1{
    color: black;
  }
  
  .continue-shopping-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .continue-shopping-button:hover {
    background-color: #0056b3;
  }